<div class="fields">
	<div class="field col-md-offset-2 answer_field">
	  <%= f.label :content, "Answer" %>
	  <%= link_to_remove_fields "x", f %>
	  <%= f.text_field :content, class:"form-control", tabindex: 1 %>
	</div>
</div>